body {
  background: radial-gradient(circle at center, #8b0000 0%, #ff0000 100%);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}


h1 {
  font-family: 'CocaCola', sans-serif;
  font-size: clamp(5em, 10vw, 15em);
  color: white;
  text-shadow: 0 0 25px #ffcccc, 0 0 10px #ffffff;
  position: relative;
  z-index: 5;
  text-align: center;
  animation: brillo 3s infinite alternate;
}


@keyframes brillo {
  0% { text-shadow: 0 0 10px #fff, 0 0 20px #ffcccc; }
  100% { text-shadow: 0 0 30px #fff, 0 0 60px #ff3333; }
}


.burbujas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}


.burbuja {
  position: absolute;
  bottom: -120px;
  background: radial-gradient(circle at 30% 30%, #ffffffcc, #ffffff22);
  border-radius: 50%;
  opacity: 0.9;
  animation: flotar 8s infinite ease-in;
  filter: blur(0.5px);
}


.burbuja:nth-child(1) { width: 40px; height: 40px; left: 10%; animation-duration: 7s; }
.burbuja:nth-child(2) { width: 60px; height: 60px; left: 20%; animation-duration: 10s; }
.burbuja:nth-child(3) { width: 30px; height: 30px; left: 35%; animation-duration: 6s; }
.burbuja:nth-child(4) { width: 45px; height: 45px; left: 50%; animation-duration: 9s; }
.burbuja:nth-child(5) { width: 55px; height: 55px; left: 65%; animation-duration: 11s; }
.burbuja:nth-child(6) { width: 70px; height: 70px; left: 80%; animation-duration: 12s; }
.burbuja:nth-child(7) { width: 50px; height: 50px; left: 90%; animation-duration: 10s; }
.burbuja:nth-child(8) { width: 25px; height: 25px; left: 15%; animation-duration: 8s; }
.burbuja:nth-child(9) { width: 35px; height: 35px; left: 45%; animation-duration: 7s; }
.burbuja:nth-child(10) { width: 60px; height: 60px; left: 70%; animation-duration: 9s; }
.burbuja:nth-child(11) { width: 20px; height: 20px; left: 30%; animation-duration: 6s; }
.burbuja:nth-child(12) { width: 40px; height: 40px; left: 55%; animation-duration: 8s; }
.burbuja:nth-child(13) { width: 30px; height: 30px; left: 75%; animation-duration: 10s; }
.burbuja:nth-child(14) { width: 50px; height: 50px; left: 5%; animation-duration: 9s; }
.burbuja:nth-child(15) { width: 65px; height: 65px; left: 85%; animation-duration: 11s; }


@keyframes flotar {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-300px) translateX(25px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-650px) translateX(-20px) scale(0.8);
    opacity: 0;
  }
}


@keyframes explotar {
  0% { transform: scale(1); opacity: 1; }
  80% { transform: scale(1.3); opacity: 0.7; }
  100% { transform: scale(0); opacity: 0; }
}


.burbuja.explota {
  animation: flotar 8s ease-in, explotar 8s ease-out;
}


body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,255,255,0.15) 1%, transparent 1%) repeat;
  background-size: 3px 3px;
  opacity: 0.2;
  animation: burbujeo 6s infinite linear;
}

@keyframes burbujeo {
  from { background-position: 0 0; }
  to { background-position: 0 -100px; }
}
